main = ".open-next/worker.js"
name = "blueshift-dashboard"
compatibility_date = "2025-09-01"
compatibility_flags = ["nodejs_compat"]

routes = [
    { pattern = "learn.blueshift.gg", custom_domain = true }
]

[vars]
CONTENT_PREFIX = "compiled-mdx"

[observability]
enabled = true

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[[r2_buckets]]
binding = 'CONTENT'
bucket_name = 'blueshift-edu-content'

[env.preview]
name = "blueshift-dashboard-preview"
workers_dev = true
routes = []

[env.preview.vars]
CONTENT_PREFIX = "compiled-mdx-preview"
